*{
padding:0px;
margin:0px;}

body{
background-color:black;
}

header{
background:darkred;
height :140px;
border-bottom: 1px solid #133783;
border-top: 1px solid #133783
}

.header-block{
width: 992px;
margin: 0 auto;

}

.logo{

width:50%;
float: left;
}

.logo img{

}




.header-block label{
color :white;
}

.email{
padding-left:100px;
padding-top:70px;
float:left;

}
.email input [ type="text" ] {
border: 1px solid black;
}

.password{
padding-left:110px;
padding-top:70px;
padding-right:10px;
float:left;

}
.password input [type="password"]{
border: 1px solid black;}


.password a {
color : black;}


.wwe-connect{

color:red;
font-size:2em;}

.wwe-connect p{
padding-left: 90px;}



.wwe-connect img{
width:55%;
float:left;
padding-right:100px;
;}


.clearfix{
clear:both;}

}

.create-account{
padding:10px;
width:500px;
float:right;
text-align:right;
}\

.input-type label{
color : white;

}




